.main-div2 {
    /* background-color: #E39D84; */
    background-image: url("https://i.postimg.cc/qMknxKpM/Screen-Shot-2020-05-27-at-12-42-05-AM.png");
    color: #3333FF;
    height: 700px;
    background-size: 355px;

}

.p2 {
    width: 400px;
    height:450px;
    background-color: rgba(227, 157, 132, 0.87);
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    border: solid 2px;
    border-color: orangered;
}

#headerp2 {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}