#main {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.postimg.cc/kGTT2St5/Screen-Shot-2020-05-27-at-1-17-33-PM.png");
    height: 690px;
    background-size: cover;  
}

.link-to-next-line {
    color: wheat;
    text-decoration: none;
   
}
.link-to-next-line:hover {
    color: aqua;
}