#derksen-3-main-div {
    color: white;
    display: flex;
    justify-content: center;
    background-image: url("https://i.postimg.cc/3xjzy6Pd/Screen-Shot-2020-06-18-at-7-17-56-PM.png");
    height: 690px;
    background-size: cover;  
}

#derksen-3-text-div {
    margin: 170px;
}
