#derksen-1-main-div {
    color: white;
    display: flex;
    justify-content: center;
    background-image: url("https://i.postimg.cc/rm4mxqcS/Screen-Shot-2020-06-18-at-7-11-35-PM.png");
    height: 690px;
    background-size: cover;  
}

#derksen-1-text-div {
    margin: 170px;
}

.derksen-link {
    color: white;
    text-decoration: none;
   
}
.derksen-link:hover {
    color: red;
}