.main-div {
    background-color: #3333FF;
    color: #E39D84;
    background-image: url("https://i.postimg.cc/3rF6hdJM/Screen-Shot-2020-05-25-at-10-30-56-PM.png");   
    background-size: initial; 
    margin: 0px;
    border: solid 2px black;
    align-items: center;
}

.ep1-container {
    margin-left: 340px;
}

.p {
    width: 502px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    border: solid 2px;
    border-color: #540b06;
    padding: 20px;
    margin: 100px;
}

#headerp {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

#link {
    color: white;
}

#link:hover {
    color: orangered;
}

article > div {
    margin-left: 20px;
    width: 350px;
    color: #d05a2f;
    display: flex;
    padding: 5px;
}
  
span {
    color: #d05a2f;
}

form {
      margin-top: 40px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
}

.add-a-line {
    margin: 20px;
}

a {
    text-decoration: none;
}

.created-by {
    color: grey;
}

.edit-link {
    color: red;
    font-size: 11px;
}