.EnterPage {
    background-color: #E3BDBB;
    height: 1000px;
    background-image: url(https://i.postimg.cc/CLRdMPk9/IMG-3871.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    
}

.border {
    border: solid 1px;
    border-color: aqua;
    margin: 20px;
}

h2 {
    display: flex;
    justify-content: center;
    color: #FFE6CC;
    margin-top: 70px;
    font-family: 'Josefin Sans', sans-serif;
}

#pdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 300px;
    margin-bottom: 400px;
}

#p1 {
    color: white;
    text-decoration: none;
}
#p1:hover {
    color: aqua;
    
}

#p2 {
    color: white;
    text-decoration: none; 
}
#p2:hover {
    color: orange;
}

#p3:hover {
    color: red;
}