.signup-page {
    /* background-color: wheat;
    height: 700px; */
    height: 1000px;
    background-image: url("https://media3.giphy.com/media/QWvrm9qorO2SJMtgYs/giphy.gif");
    background-size: 1100px;
    background-repeat: none;
    
    
}

.signup-container {
    background-color: rgba(180, 73, 12, .75);
    padding: 20px;
    /* margin: 20px; */
    width: 500px;
    border-radius: 10px;
    border: solid 2px;
    border-color: black;
    margin-left: 450px;
    margin-top: 90px;
    /* z-index: -1; */

}

.signup {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 500px;
    /* margin-left: 470px; */
    /* z-index: 1; */
    

}

.signup-form {
    flex-direction: column;
    color: black;
    
}

.header-footer {
    display: flex;
    margin: 20px;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.cancel {
    text-decoration: none;

}
.cancel:hover {
        color: blue;
}

.form-group {
    margin: 5px;
}

.form-control {
    margin: 6px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.buttons {
    margin: 20px;
    
}

.button {
    margin: 6px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
}
.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid white;
}

.cancel {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.cancel:hover {
    font-weight: bold;
} 