.signup {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(103, 100, 228);
    width: 500px;
    margin-left: 450px

}
.form-horizontal {
    /* background-color: teal; */
    flex-direction: column;
    color: black;
    /* margin: 0px; */
    
}

.header-footer {
    display: flex;
    margin: 20px;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.cancel {
    text-decoration: none;

}
.cancel:hover {
        color: blue;
}

.form-group {
    margin: 5px;
}